.new-post-container {
    margin: 20px auto 25px auto;
    max-width: 1600px;
    padding: 30px 50px 50px 50px;
}

.new-post-title {
    font-size: 30px;
    padding-bottom: 10px;
}

.category-container {
    padding-bottom: 5px;
}

.next-buttons {
    justify-content: right;
}

.next-buttons-bottom {
    margin-right: -13px;
}

.previous-button {
    margin-right: 8px;
}

.require-popup {
    color: $red;
}

.edit-button {
    margin: 5px;
}

.unpublished-hero {
    background-color: $grey;
    margin: 20px auto 25px auto;
    border-radius: 15px;
}

.unpublished-hero-body {
    padding: 1.5rem 3rem;
        p {
            color: $white;
        }
}

.item-tag {
    // background-color: #40C6E6;
    border-style: dashed;
    cursor: none;
    margin: 5px;
}

.post-text {
    font-size: 20px;
    margin-bottom: 10px;
}

@media (max-width: 770px) {
    .next-buttons-top {
        display: none;
    }
}