.item-tag {
    // background-color: #40C6E6;
    border-style: dashed;
    cursor: none;
    margin: 5px;
}

.item-image {
    cursor:pointer;
}

.post-text {
    font-size: 20px;
    margin-bottom: 10px;
}